.skrol-btn {
    width: 48px;
    height: 50px;
    position: sticky;
    border-radius: 50%;
    top: 90%;
    margin-left: 95%;
    transition: 0.5s;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}